<!DOCTYPE html>
<html>
<body>

<h1>TEST PAGE</h1>

<form method="POST" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}

    <p>
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.name.errors }}
    </p>

    <p>
        {{ form.price.label_tag }}
        {{ form.price }}
        {{ form.price.errors }}
    </p>

    <p>
        {{ form.description.label_tag }}
        {{ form.description }}
        {{ form.description.errors }}
    </p>

    <button>Save</button>
</form>

</body>
</html>